# CSV

In [40]:
import pandas as pd
from matplotlib_inline.backend_inline import set_matplotlib_formats

set_matplotlib_formats("svg")

## Import

In [41]:
df = pd.read_csv("../data/requests.csv", parse_dates=["time"])
df

                     time                  url   ms
0 2021-04-01 19:43:53.907  https://example.com   33
1 2021-04-01 19:44:03.923  https://example.com   15
2 2021-04-01 19:44:14.710  https://example.com  785
3 2021-04-01 19:44:24.821  https://example.com  109
4 2021-04-01 19:44:34.866  https://example.com   44
5 2021-04-01 19:44:44.912  https://example.com   43
6 2021-04-01 19:44:54.960  https://example.com   46
7 2021-04-01 19:45:05.006  https://example.com   44
8 2021-04-01 19:45:15.051  https://example.com   43
9 2021-04-01 19:45:25.095  https://example.com   43

In [42]:
print(df)

                     time                  url   ms
0 2021-04-01 19:43:53.907  https://example.com   33
1 2021-04-01 19:44:03.923  https://example.com   15
2 2021-04-01 19:44:14.710  https://example.com  785
3 2021-04-01 19:44:24.821  https://example.com  109
4 2021-04-01 19:44:34.866  https://example.com   44
5 2021-04-01 19:44:44.912  https://example.com   43
6 2021-04-01 19:44:54.960  https://example.com   46
7 2021-04-01 19:45:05.006  https://example.com   44
8 2021-04-01 19:45:15.051  https://example.com   43
9 2021-04-01 19:45:25.095  https://example.com   43

In [43]:
print(df.values)

[[Timestamp('2021-04-01 19:43:53.907000') 'https://example.com' 33]
 [Timestamp('2021-04-01 19:44:03.923000') 'https://example.com' 15]
 [Timestamp('2021-04-01 19:44:14.710000') 'https://example.com' 785]
 [Timestamp('2021-04-01 19:44:24.821000') 'https://example.com' 109]
 [Timestamp('2021-04-01 19:44:34.866000') 'https://example.com' 44]
 [Timestamp('2021-04-01 19:44:44.912000') 'https://example.com' 43]
 [Timestamp('2021-04-01 19:44:54.960000') 'https://example.com' 46]
 [Timestamp('2021-04-01 19:45:05.006000') 'https://example.com' 44]
 [Timestamp('2021-04-01 19:45:15.051000') 'https://example.com' 43]
 [Timestamp('2021-04-01 19:45:25.095000') 'https://example.com' 43]]

In [44]:
df["time"]

0   2021-04-01 19:43:53.907
1   2021-04-01 19:44:03.923
2   2021-04-01 19:44:14.710
3   2021-04-01 19:44:24.821
4   2021-04-01 19:44:34.866
5   2021-04-01 19:44:44.912
6   2021-04-01 19:44:54.960
7   2021-04-01 19:45:05.006
8   2021-04-01 19:45:15.051
9   2021-04-01 19:45:25.095
Name: time, dtype: datetime64[ns]